body {
  font-family: Verdana; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header div {
    width: 70%;
    text-align: center;
    padding: 2em;
    background: #acacac; }
    header div:not([class*="add-"]) {
      display: none; }
    header div[class*="add-"]:nth-of-type(even) {
      margin-right: 0; }

.action {
  padding: 1em;
  text-align: center;
  background: #E0E0E0;
  color: #424242;
  cursor: pointer; }

.groups {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .groups .group {
    cursor: move;
    border: 1px solid #444;
    border-radius: 0.4em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 17em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .groups .group .user-list {
      padding: 0;
      margin: 1em 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .groups .group .user-list li {
        list-style: none;
        width: 8em;
        font-size: 0.7em;
        text-align: center;
        margin-bottom: 1em;
        cursor: move; }
        .groups .group .user-list li::before {
          display: block;
          content: "";
          width: 100%;
          height: 3em;
          background: url("/img/user.svg") no-repeat center;
          margin-bottom: 0.5em; }
    .groups .group .group-actions {
      width: 100%;
      overflow: hidden;
      height: 0; }
      .groups .group .group-actions .action {
        height: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-transition: 0.2s transform ease-in-out;
        transition: 0.2s transform ease-in-out; }
    .groups .group:hover .group-actions {
      height: auto; }
      .groups .group:hover .group-actions .action.add-user {
        -webkit-transform: scale(1);
                transform: scale(1);
        height: auto; }

.user-dragging header div.remove-user {
  display: block; }

.user-dragging header div[class*="add-"] {
  display: none; }

.user-dragging .group-actions .action.add-user {
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
  height: 0 !important; }

.user-dragging .group-actions .action.remove-from-group {
  -webkit-transform: scale(1);
          transform: scale(1);
  height: auto; }

.group-dragging header div.remove-group {
  display: block; }

.group-dragging header div[class*="add-"] {
  display: none; }

.user-dragging .dropzone, .group-dragging .dropzone {
  background: #E1F5FE;
  border: 1px solid #0288D1; }
  .user-dragging .dropzone--add, .group-dragging .dropzone--add {
    background: #F1F8E9;
    border: 1px solid #7CB342; }
  .user-dragging .dropzone--remove, .group-dragging .dropzone--remove {
    background: #FBE9E7;
    border: 1px solid #E64A19; }

/*# sourceMappingURL=bundle.css.map*/